<div class="item-cart-parent px-6 maw-w-full max-h-full bg-white rounded-lg border border-gray-300 mb-[24px] shadow-sm font-medium">
  <!-- Section header -->
  <h1 class="py-4 text-gray-700 font-semibold text-center leading-8 text-lg"><%= Spree.t(:order_total) %></h1>
  <p class="text-gray-500 font-normal text-sm text-center">
    <%= Spree.t(:minimum_amount_required, minimum_value: limit_cart_amount_utm) %>
  </p>

  <% @stats_per_vendor.each do |stat_per_vendor| %>
    <div class="my-3 rounded-lg border border-gray-300 p-3 flex flex-col">
      <div class="flex justify-between">
        <span class="font-semibold leading-6 text-primary-700 pb-2" role="summary-vendor-name"><%= stat_per_vendor[:vendor_name] || Spree.t(:no_laboratory) %></span>

        <% if stat_per_vendor[:valid_minimum_amount] %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-green-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
      <% else %>
          <% @valid_order_amounts = false %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-red-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
          </svg>
        <% end %>
      </div>
      <div>
        <span class="float-left text-gray-500"><%= Spree.t(:subtotal) %></span>
        <span class="float-right text-gray-700" role="summary-subtotal"><%= Spree::Money.new(stat_per_vendor[:subtotal], currency: 'CLP') %></span>
      </div>
    </div>
  <% end %>

  <!-- Divider -->
  <div class="border-b border-gray-200 mt-12 mb-4 h-[1px] w-auto"></div>

  <div class="my-3 rounded-lg p-2 mb-4 text-gray-500 flex flex-row">
    <span class="font-semibold"><%= Spree.t(:total) %></span>
    <span class="ml-auto" role="summary-total"><%= Spree::Money.new(@total, currency: 'CLP') %></span>
  </div>

  <div class="my-3 rounded-lg p-2 mb-4 text-gray-500 flex flex-row">
    <div class="flex-1">
      <%= link_to @checkout_url do %>
        <%= render Common::Button::BaseComponent.new(
          button_params: {
            text: Spree.t(:send_order),
            size: 'lg',
            hierarchy: 'primary',
            additional_styles: 'w-full'
          },
          disabled: disabled_button?)
        %>
      <% end %>
    </div>
  </div>
</div>
