<div id="product_<%= @product_id %>" class="bg-white border-[1px] border-[#EAECF0] rounded-xl p-3 flex flex-col justify-between">
  <%= link_to @product_url, class: 'flex flex-col gap-2' do %>
    <% cache @cache_key do %>
      <%= @product_image %>
      <hr>

      <div class="flex flex-col gap-2">
        <div class="text-xl text-gray-950 font-semibold" title="<%= @product_name %>">
          <%= @product_name %>
        </div>
        <div class="text-base font-normal text-gray-400">
          <%= @product_description.truncate(100, separation: ' ') %>
        </div>
        <div class="text-sm font-normal text-blue-800">
          <%= @vendor_name %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="flex flex-col gap-2">
    <div class="text-lg font-medium text-gray-400">
      <%= @product_price %>
    </div>

    <div class="flex flex-row justify-between h-9">
      <div class="flex items-center max-w-32 border-[1px] border-[#D0D5DD] rounded-xl">
        <%= button_tag type: 'button', class: "border-r border-[#D0D5DD] p-[0.75rem] h-9"  do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-gray-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
          </svg>
        <% end %>
        <%= text_field_tag "name", 1, min: 1, max: 10, class: "block w-12 border-0 p-0 text-center text-sm", 'aria-label': Spree.t('pdp.quantity') %>
        <%= button_tag type: 'button', class: "border-l border-[#D0D5DD] p-[0.75rem]" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-gray-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      </div>
      <%= link_to @product_url do %>
        <%= render Common::Button::BaseComponent.new(button_params: { text: "Agregar", size: "md", hierarchy: "primary" }) %>
      <% end %>
    </div>
  </div>
</div>
