<% @body_id = 'product-details' %>

<div class="container">
  <%= spree_breadcrumbs(@taxon, '', @product) %>
</div>

<% cache cache_key_for_product do %>
  <div class="container pt-4 product-details">
    <div class="row" data-hook="product_show">
      <%= render partial: 'gallery' %>
      <div class="col-12 col-md-5" data-hook="product_right_part">
        <div id="product-description flex flex-row gap-2" data-hook="product_right_part_wrap">
          <div id="vendor-name" class="text-sm text-blue-600">
            <%= @product.vendor&.name %>
          </div>
          <h1 class="mt-3 mt-md-0 text-center text-md-left product-details-title">
            <%= @product.name %>
          </h1>
          <div class="text-sm text-gray-400">
            <%= @product.generic_product&.denomination %>
          </div>
          <div class="text-sm text-gray-400">
            <%= Spree.t(:zcen) %>: <%= @product&.contract&.code || '--' %>
          </div>
          <div class="text-sm text-gray-400">
            <%= Spree.t(:zgen) %>: <%= @product&.generic_product&.code || '--' %>
          </div>
          <div class="text-sm text-gray-400">
            <%= Spree.t('pdp.sale_unit') %>: <%= @product.contract&.unit_sale || '--' %>
          </div>

          <div class="mt-7 mb-4">
            <span><%= Spree.t('pdp.about_product') %></span>
            <div class="grid grid-cols-3 gap-2 text-sm text-gray-400 mt-2">
              <div class="flex flex-col gap-1">
                <span class="text-gray-500 font-black"><%= Spree.t('pdp.mercado_publico_id') %></span>
                <span><%= mercado_publico_link_for_product(@product) %></span>
              </div>
              <div class="flex flex-col gap-1 pl-3 border-l border-gray-300">
                <span class="text-gray-500 font-black"><%= Spree.t('pdp.atc_code') %></span>
                <span><%= @product.generic_product&.code_atc || '--' %></span>
              </div>
              <div class="flex flex-col gap-1 pl-3 border-l border-gray-300">
                <span class="text-gray-500 font-black"><%= Spree.t('pdp.standard_denomination') %></span>
                <span><%= @product.generic_product&.standard_denomination || '--' %></span>
              </div>
            </div>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render 'cart_form', variant_change_identifier: 'productCarousel' %>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 pt-md-5 row" data-hook="product_description">
      <div class="col-12 col-md-7 col-lg-6">
        <%= render partial: 'description' %>
      </div>
    </div>

    <div id="no-product-available" class="no-product-available-dropdown">
      <%= render partial: 'spree/shared/no_product_available' %>
    </div>

    <%= render partial: 'gallery_modal' %>
  </div>

  <%= products_structured_data([@product]) %>

  <%= render 'spree/shared/product_added_modal' %>
<% end %>

<div
  data-related-products
  data-related-products-id="<%= @product.slug %>"
  data-related-products-enabled="<%= @product.respond_to?(:has_related_products?) %>" />
