<%= hidden_field_tag 'save_user_address', true, data: { hook: "save_user_address" } %>

<div class="w-full h-[800px] relative">
  <div id="requester_address_form" class="absolute left-0 right-0 transition-opacity mx-auto p-3 max-w-full max-h-full bg-white rounded-lg border border-gray-200 mb-[24px] shadow-sm font-medium text-left flex flex-col">
    <fieldset disabled>
      <%= fields_for "order[bill_address_attributes]", @order&.bill_address do |address_form| %>
        <%= hidden_field_tag 'order[bill_address_attributes][country_id]', default_country.id  %>
        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:name_requester) %> *</span>
            <%= address_form.text_field :firstname, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>

          <div class="run-input-container flex flex-1 flex-col gap-1.5">
            <div class="flex flex-row gap-1.5">
              <div><%= Spree.t(:rut) %> *</div>
              <div class="run-label-error text-red-400 font-semibold hidden">
                <%= Spree.t(:invalid_rut) %>
              </div>
            </div>
            <%= address_form.text_field :run, class: 'run-field text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:phone) %> *</span>
            <div class="flex flex-row">
              <span class="rounded-l-lg py-3 px-4 min-h-[48px] bg-gray-50 border border-r-0 border-gray-300">+569</span>
              <%= address_form.text_field :phone, class: 'flex-1 text-base bg-gray-50 border border-gray-300 rounded-r-lg py-3 px-4 min-h-[48px]', required: true %>
            </div>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:email) %> *</span>
            <%= address_form.text_field :email, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:street) %> *</span>
            <%= address_form.text_field :address1, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:number) %> *</span>
            <%= address_form.text_field :address1_number, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:office) %></span>
            <%= address_form.text_field :office, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: false %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:region) %></span>

            <%== address_form.collection_select(:state_id, states,
                                  :id, :name,
                                  { include_blank: Spree.t(:select_a_state) },
                                  { class: 'state-select text-base bg-white border border-gray-300 rounded-lg py-3 px-4 pr-8 min-h-[48px]',
                                  required: false,
                                  disabled: false}) %>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:county) %></span>

            <%== address_form.collection_select(:county_id, counties_for_address(@order&.bill_address),
                                  :id, :name,
                                  { include_blank: Spree.t(:select_a_county) },
                                  { class: 'county-select text-base bg-white border border-gray-300 rounded-lg py-3 px-4 pr-8 min-h-[48px]',
                                  required: false,
                                  disabled: (!@order&.bill_address&.county) }) %>
          </div>
        </div>

        <% unless @order&.confirm? %>
          <div class="m-3 mt-[120px] px-2 gap-6 flex flex-row text-gray-400 text-sm">
            <% submit_label_key = @order&.confirm? ? :place_order : :save_and_continue %>
            <div class="address-next w-full">
              <%= link_to '', checkout_move_substep_path(format: :js, order_substep: 1, state: 'address'), remote: true, class: 'hidden' %>
              <%= render Common::Button::BaseComponent.new(
                button_params: {
                  text: Spree.t(submit_label_key),
                  size: 'lg',
                  hierarchy: 'primary',
                  additional_styles: 'w-full'
                })
              %>
            </div>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>

  <div id="receiver_address_form" class="absolute left-0 right-0 transition-opacity opacity-0 mx-auto p-3 max-w-full max-h-full bg-white rounded-lg border border-gray-200 mb-[24px] shadow-sm font-medium text-left flex flex-col">
    <fieldset disabled>
      <%= fields_for "order[ship_address_attributes]", @order&.ship_address do |address_form| %>
        <%= hidden_field_tag 'order[ship_address_attributes][country_id]', default_country.id  %>
        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:name_receiver) %> *</span>
            <%= address_form.text_field :firstname, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>

          <div class="run-input-container flex flex-1 flex-col gap-1.5">
            <div class="flex flex-row gap-1.5">
              <div><%= Spree.t(:rut) %> *</div>
              <div class="run-label-error text-red-400 font-semibold hidden">
                <%= Spree.t(:invalid_rut) %>
              </div>
            </div>
            <%= address_form.text_field :run, class: 'run-field text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:phone) %> *</span>
            <div class="flex flex-row">
              <span class="rounded-l-lg py-3 px-4 min-h-[48px] bg-gray-50 border border-r-0 border-gray-300">+569</span>
              <%= address_form.text_field :phone, class: 'flex-1 text-base bg-gray-50 border border-gray-300 rounded-r-lg py-3 px-4 min-h-[48px]', required: true %>
            </div>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:email) %> *</span>
            <%= address_form.text_field :email, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:street) %> *</span>
            <%= address_form.text_field :address1, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:number) %> *</span>
            <%= address_form.text_field :address1_number, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: true %>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:office) %></span>
            <%= address_form.text_field :office, class: 'text-base bg-gray-50 border border-gray-300 rounded-lg py-3 px-4 min-h-[48px]', required: false %>
          </div>
        </div>

        <div class="m-3 px-2 gap-6 flex flex-row text-gray-400 text-sm">
          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:region) %></span>

            <%== address_form.collection_select(:state_id, states,
                                  :id, :name,
                                  { include_blank: Spree.t(:select_a_state) },
                                  { class: 'state-select text-base bg-white border border-gray-300 rounded-lg py-3 px-4 pr-8 min-h-[48px]',
                                  required: false,
                                  disabled: false}) %>
          </div>

          <div class="flex flex-1 flex-col gap-1.5">
            <span><%= Spree.t(:county) %></span>

            <%== address_form.collection_select(:county_id, counties_for_address(@order&.ship_address),
                                  :id, :name,
                                  { include_blank: Spree.t(:select_a_county) },
                                  { class: 'county-select text-base bg-white border border-gray-300 rounded-lg py-3 px-4 pr-8 min-h-[48px]',
                                  required: false,
                                  disabled: (!@order&.ship_address&.county) }) %>
          </div>
        </div>

        <% unless @order&.confirm? %>
          <div class="m-3 mt-[120px] px-2 gap-6 flex flex-row text-gray-400 text-sm">
            <% submit_label_key = @order&.confirm? ? :place_order : :save_and_continue %>
            <div class="address-next w-full">
              <%= render Common::Button::BaseComponent.new(
                button_params: {
                  text: Spree.t(submit_label_key),
                  size: 'lg',
                  hierarchy: 'primary',
                  additional_styles: 'w-full'
                })
              %>
            </div>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>

<script>
  function toggleSubstep(step) {
    let requester_address_form_container = document.querySelector('#requester_address_form')
    
    let receiver_address_form_container = document.querySelector('#receiver_address_form')

    // Hide all steps, disable fieldsets
    requester_address_form_container.classList.add('opacity-0')
    requester_address_form_container.classList.add('pointer-events-none')
    requester_address_form_container.querySelector('fieldset').disabled = true
    receiver_address_form_container.classList.add('opacity-0')
    receiver_address_form_container.classList.add('pointer-events-none')
    receiver_address_form_container.querySelector('fieldset').disabled = true

    // Show particular step
    switch (step) {
      case "0":
        requester_address_form_container.classList.toggle('opacity-0')
        requester_address_form_container.classList.toggle('pointer-events-none')
        requester_address_form_container.querySelector('fieldset').disabled = false
        break;
      case "1":
        receiver_address_form_container.classList.toggle('opacity-0')
        receiver_address_form_container.classList.toggle('pointer-events-none')
        receiver_address_form_container.querySelector('fieldset').disabled = false
        break;
      default:
        break;
    }
  }

  function bindStateSelectCallbacks() {
    let stateSelects = document.querySelectorAll('.state-select')

    stateSelects.forEach((stateSelect) => {
      if (!stateSelect.hasAttribute('data-event-listener')) {
        // Add a custom attribute to mark that the event listener has been added
        stateSelect.setAttribute('data-event-listener', 'added')

        // Add listener
        stateSelect.addEventListener('change', function() {
          let countySelect = this.parentNode.parentNode.querySelector('.county-select')
          countySelect.disabled = true
          countySelect.innerHTML = '<option value="">Cargando...</option>';
          let stateId = stateSelect.value;
          if (stateId) {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/v2/storefront/counties?per_page=100&filter[state_id_eq]=' + stateId, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                let response = JSON.parse(xhr.responseText);
                let counties = response.data
                countySelect.disabled = false
                countySelect.innerHTML = '<option value="">Selecciona una comuna</option>';
                counties.forEach(function(county) {
                  let option = document.createElement('option');
                  option.text = county.attributes.name;
                  option.value = county.id;
                  countySelect.add(option);
                });
              }
            };
            xhr.send();
          } else {
            countySelect.innerHTML = '<option value="">Selecciona una comuna</option>';
          }
        });
      }
    });
  }

  function validateForm(form) {
    let runInputContainer = document.querySelector('fieldset:not([disabled]) .run-input-container')
    return form.checkValidity() && validateRunInput(runInputContainer)
  }

  function initializeAddressFormComponent() {
    toggleSubstep("<%= @order&.order_substep || '0' %>")

    let buttons = document.querySelectorAll('.address-next button')

    buttons.forEach((button) => {
      button.addEventListener("click", function(event) {
        event.preventDefault()
        var form = document.getElementById("checkout_form_address");
        if (validateForm(form)) {
          // Enable all fieldsets, to send all info
          document.querySelectorAll('fieldset').forEach((fieldset) => { fieldset.disabled = false; })
          let link = button.parentNode.querySelector('a')
          if (link) {
            link.click()
          }
          else {
            form.submit()
          }
          // Disable button to prevent reclicking, add feedback
          button.disabled = true
          button.querySelector('[data-role="button-spinner"]').classList.remove('hidden')
        }
      });
    });
  }

  function validateRunInput(runInputContainer) {
    let runField = runInputContainer.querySelector('.run-field')
    let runLabelError = runInputContainer.querySelector('.run-label-error')

    let run = runField.value

    if(validateRun(run)) {
      runLabelError.classList.add('hidden')
      return true
    }
    else {
      runLabelError.classList.remove('hidden')
      return false
    }
  }

  function validateRun(run) {
    const rawRun = run.replace(/[^0-9kK]/g, '');

    // Length should be at least 3
    if (rawRun.length < 2) return false;

    const body = rawRun.slice(0, -1);
    const dv = rawRun.slice(-1).toUpperCase();

    // Body must be numerical
    if (!body.replace(/[^0-9]/g, '')) return false;

    const calculatedDv = calcularDV(body);

    return calculatedDv == dv;
  }

  function calcularDV(bodyRUT) {
    let sum = 1;
    let multiple = 0;

    for (; bodyRUT; bodyRUT = Math.floor(bodyRUT / 10))
      sum = (sum + (bodyRUT % 10) * (9 - (multiple++ % 6))) % 11;

    return sum ? sum - 1 : 'K';
  }

  document.addEventListener("turbo:load", function() {
    initializeAddressFormComponent()
    bindStateSelectCallbacks()
  });
</script>
